.input-group {
  width: 200px;
}

.form-control {
  border-radius: 0;
  border-right: 1px solid #ced4da;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #80bdff;
  outline: 0;
  box-shadow: none !important;
}

.btn {
  border-radius: 0;
}

.rounded-start {
  border-radius: 0.25rem 0 0 0.25rem;
}

.rounded-end {
  border-radius: 0 0.25rem 0.25rem 0;
}

body {
  max-width: 85%;
  margin: 0 auto;
}

.navbar-brand {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem !important;
  font-weight: bold !important;
  padding-top: 0rem !important;
  margin-right: 2rem !important;
  color: #5CB85C !important;
}

.navbar-brand:hover {
  color: #FFA900 !important;
}

.nav-item {
  font-size: 0.95rem !important;
}

.form-group {
  margin-bottom: 2rem;
}

.btn {
  background-color: #5CB85C;
  border-color: #5CB85C;
}

img {
  
}