{% extends "encyclopedia/layout.html" %}

{% block title %}
Wiki-Info
{% endblock %}

{% block body %}
<div class="landing-page">
    <h2>Welcome to <span class="highlight">Wiki-Info!</span></h2>

    <p>
        This project is an online encyclopedia using the Python Django framework. Users can view, search, create, and
        edit article entries. It also features a 'random page' function for a serendipitous browsing experience.
    </p>

    <h3>All Pages:</h3>
    <div class="entry-list">
        {% for entry in entries %}
        <div class="entry-item">
            <a href="{% url 'entry' title=entry %}">{{ entry }}</a>
        </div>
        {% endfor %}
    </div>

</div>

{% endblock %}