{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            {% block title %}{% endblock %}
        </title>
        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="{% static 'encyclopedia/css/styles.css' %}" rel="stylesheet">
        <script src="{% static 'encyclopedia/js/main.js' %}"></script>
        <link rel="shortcut icon"
              type="image/x-icon"
              href="{% static 'encyclopedia/wiki-info.ico' %}">
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    </head>
    <body class="antialiased bg-gray-50 text-gray-950 tracking-wide">
        {% include "encyclopedia/partials/header.html" %}
        <main class="min-h-screen">
            {% block body %}
            {% endblock body %}
        </main>
        {% include "encyclopedia/partials/footer.html" %}
    </body>
</html>
