{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
    crossorigin="anonymous"></script>

  <link href="{% static 'encyclopedia/css/style.css' %}" rel="stylesheet">
  <script src="{% static 'encyclopedia/js/main.js' %}"></script>
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'encyclopedia/wiki-info.ico' %}">

</head>

<body>
  <nav class="navbar py-3 navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand mx-lg-5" href="{% url 'index' %}">wiki-info</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item{% if active_page == 'home' %} active{% endif %}">
            <a class="nav-link" href="{% url 'index' %}"><span class="fa fa-home"></span> Home</a>
          </li>
          <li class="nav-item{% if active_page == 'new_page' %} active{% endif %}">
            <a class="nav-link" href="{% url 'new_page' %}"><span class="fa fa-pencil"></span> Create New Page</a>
          </li>
          <li class="nav-item{% if active_page == 'rand' %} active{% endif %}">
            <a class="nav-link" href="{% url 'rand' %}"><span class="fa fa-random"></span> Random Page</a>
          </li>
        </ul>
        <div class="d-flex">
          <form class="d-flex" action="{% url 'search' %}" method="POST">
            {% csrf_token %}
            <div class="input-group">
              <input class="form-control rounded-start" type="search" name="q" placeholder="Search for an entry"
                aria-label="Search">
              <button class="btn btn-success rounded-end" type="submit">Search</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </nav>


  <!-- Page Content  -->
  <div id="content" class="page-content p-3 px-lg-3 my-lg-4 mx-lg-5 border-left">
    {% block body %}
    {% endblock %}
  </div>


  <footer class="footer mt-5">
    <p>&copy; 2023 | John Mark Delima</p>
    <a href="https://www.facebook.com/johnmark.delima.986" target="_blank">
      <span class="fa fa-facebook"></span>
    </a>
    <a href="https://github.com/jnale-hub" target="_blank">
      <span class="fa fa-github"></span>
    </a>

  </footer>

</body>

</html>